@import './components/checkboxes';
@import './components/leftappbar';
@import './base/_colors';

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: $main-background;
}

#app {
  width: 100%;
  height: 100%;
}

#content {
  width: 100%;
  height: 100%;
}

.HomepageImage {
  margin: 5em;
  margin-top: 2em;
  width: 80%;
}

.Case__button {
  margin-right: 1em;
  margin-bottom: 2em;
}
