.SideNavBar__header {
  display: flex;
  img {
    margin-top: 5px;
    max-width: 54px;
    max-height: 54px;
  }
  h1 {
    color: white;
    margin-left: 8px;
    font-size: 1.6em;
  }
  margin-left: 10px;
  margin-bottom: 5px;
}
